.sbj{
    margin: 0 0.5rem 0 0.5rem;
    padding: ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sbj_btn{
    width: 40px;
    height: 30px;
}
.title{
    font-weight: 700;
    size:23spx;
    margin: 0;
}
.totalStarRateYellow {
    position: absolute;
}

.totalStarRateGrey {
    position: absolute;
}