.container{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding: 1.3rem;
}
.subjectTitle {
    margin-right: auto;
    font-size: 1.3rem;
	font-weight: 600;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.subject {
	display: flex;
	width: 100%;
	justify-content: space-between;
	overflow: auto;
	padding-bottom: 4%;
}

.listTitle {
    background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 0.6rem;
	width: 25%;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	/* margin-left: 1rem; */
	font-style: normal;
	color: black;
	/* background-color: #396FF9; */
	border-bottom: solid 1px black;
	/* border-radius: 100px; */
}