.container{
    /*margin-top: 7rem;*/
    display:flex;
    width: 42rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
/* .container li{
    list-style: none;
} */

/* .listTitle{
    list-style: none;
} */
.test {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    
}

.subject {
    display: flex;
}