.background{
  width: 100%;
}

.flex_row{
  display: flex;
  height: 4.25rem;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  border-bottom: 1px solid #EFEFEF;
}

.prev_btn{
  position: absolute;
  left:15px;
  font-size:18px;
}
.menu_name{
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}