.rankContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid 1px; */
  background-color: #f6f9ff;
  /* width: 100%; */
  padding: 1.3rem;
}

.rankTitle {
  margin-right: auto;
  padding-bottom: 1rem;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.keyword {
  display: flex;
  width: 100%;
  justify-content: start;
  overflow-x: auto;
  padding-bottom: 1%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* cursor: pointer; */
}

.keyword::-webkit-scrollbar {
  display: none; /* Chrome , Safari , Opera */
}

.keywordContent {
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  flex: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 5.25rem;
  margin-left: 0.6rem;
  color: #595959;
  background-color: white;
  border: solid 1px #eeeeee;
  border-radius: 100px;
}

.selectKeyword {
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	font-family: "Pretendard";
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	flex: none;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	height: 25px;
	width: 5.25rem;
	margin-left: 0.6rem;
	color: #FFFFFF;
	background-color: #396FF9;
	border: solid 1px #eeeeee;
	border-radius: 100px;
}