.rankContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* border: solid 1px; */
	background-color: #f6f9ff;
	/* width: 100%; */
	padding: 1.3rem;
}

.rankTitle{
	margin-right: auto;
	font-size: 1.3rem;
	padding-bottom: 1rem;
	font-weight: 600;
}

.keyword {
	display: flex;
	width: 100%;
	justify-content: space-between;
	overflow-x: auto;
	padding-bottom: 1%;
	-ms-overflow-style:none; /* IE and Edge */
    scrollbar-width:none; /* Firefox */
	/* cursor: pointer; */
}

.keyword::-webkit-scrollbar {
	display:none; /* Chrome , Safari , Opera */
}

.keywordContent {
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	flex: none;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	height: 0.3rem;
	width: 6rem;
	font-size: 0.9rem;
	font-weight: 600;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	margin-left: 0.6rem;
	font-style: normal;
	color: black;
	background-color: white;
	border: solid 0.15rem #EEEEEE;
	border-radius: 100px;
}

.selectKeyword {
	
	cursor: pointer;
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 0.3rem;
	width: 6rem;
	font-size: 0.9rem;
	font-weight: 600;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	margin-left: 0.6rem;
	font-style: normal;
	color: white;
	background-color: #396FF9;
	
	border: solid 1px #EEEEEE;
	border-radius: 100px;
}