.SubjectInfo {
  display: flex;
  min-height: 5rem;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  word-break: keep-all;
  
  line-height: 22px;
  letter-spacing: -0.5px;
  margin: 9px 20px 0px 20px;
}