.SubjectWiki {
  
}

body {
 
}

.wikiBox {
  display: flex;
  
  flex-direction: column;
  /* padding-bottom: 80px; */
}

.submit {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  margin-top: 1rem;
}
.cancleBtn {
  width: 7rem;
  height: 2.5rem;
  margin-left: auto;
  margin-right: 1rem;
  border-radius: 10px;
  border: none;
  background: #eeeeee;
  color: black;
}

.submitBtn {
  width: 7rem;
  height: 2.5rem;
  margin-left: 1rem;
  margin-right: auto;
  border-radius: 10px;
  border: 1.5px solid #eeeeee;
  background: #396ff9;
  color: #ffffff;
}

.wiki {
  font-family: "Pretendard";
  height: 5rem;
  margin: 20px;
}
