.subject {
  display: flex;
  flex-direction: column;
}

.subjectHeader {
  height: 2rem;
}

.subjectInfo {
  height: 8rem;
  margin-bottom: 5px;
  background-color: #d9d9d9;
}

.SubjectWiki {
	/* max-height: 10em !important; */
}

.progress_bar{
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  height: 5px;
  background-color: #dedede;
  z-index: 999;
}

.progerss_bar_fill{
  position: fixed;
  height: 5px;
  background-color: #467bff;
}