.SubjectInfo {
  display: flex;
  min-height: 5rem;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.5px;
  /*min-width: 10rem;*/
  /*border: solid 1px #EFEFEF;*/
  margin: 9px 20px 0px 20px;
  border: 10px solid F6F6F6;
}