.subjectComment {
  width: 100%;
  height: auto;
  display: flexbox;
  margin-bottom: 0.5rem;
}

.commentListHeader{
  margin: 2.2rem 1.2rem 0.5rem 1.2rem;
  display: flex;
  justify-content: space-between;
}

.comment {
  display: flex;
  border-bottom: solid 0.5rem #FAFAFC;
  flex-direction: column;
  padding: 1rem 1.2rem 1.2rem 1.2rem;
}
