@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

.container{
  width:800px;
  margin:auto;
}

.subjectDetail {
  width: 800px;
}

.subject {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subjectHeader {
  height: 2rem;
}

.subjectInfo {
  height: 8rem;
  margin-bottom: 5px;
  background-color: #d9d9d9;
}

.subtitle{
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  font-weight: 700;
  font-size: 18px;
  font-style: italic;
  color: white;
  background-color: #467bff;
  /*border-radius: 20px;
  background: linear-gradient(90deg, rgba(70,123,255,1) 0%, rgba(185,213,255,1) 85%);*/
  padding-left: 1.2rem;
  margin: 1rem 0 1rem 0;
}

.SubjectWiki {
	/* max-height: 10em !important; */
}

.wikiContent {
  height: 40rem;
  overflow: auto;
  line-height: 1rem;
}

.progress_bar{
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  height: 5px;
  background-color: #dedede;
  z-index: 999;
}

.progerss_bar_fill{
  position: fixed;
  height: 5px;
  background-color: #467bff;
}