.flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  border: 1px solid #efefef;
  border-radius: 5px;
  padding: 0.6rem 0.7rem;
  margin-bottom: 0.6rem;
}

.small_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.name {
  /*width: 9rem;*/
}

.font {
  width: 50%;
  word-break: keep-all;
  white-space: nowrap;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
}

.font_color_blue {
  color: #396ff9;
}

.avg_name {
  width: 2rem;
  margin-right: 2rem;
  color: #666666;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  word-break: keep-all;
}

.baseline {
  border-bottom: 1px dashed #cbcbcb;
  width: 100%;
  margin: auto 1rem auto 1rem;
}

.arrow_container {
  width: 10%;
  margin-left: 0.5rem;
  padding: 0 0.2rem;
  border-radius: 12.5px;
}

.arrow_container:hover {
  background-color: #f6f9ff;
}

.graphContainer {
  position: relative;
  left: 64px;
  width: calc(100% - 64px - 30px);
  margin-top: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.graph {
  width: 100%;
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.graph_pull {
  background-color: #F8F8F8;
  border-radius: 5px;
  padding: 5px 4px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color:  #959DB0;
}

.graphFont {
  margin-top: 6px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #959db0;
}
