/*.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.width{
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100%;
}

.userProfile {

}

.subjectRank {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100%;
    background-color: #F6F9FF;
}*/
.body {
    font-family: "Pretendard";
}

.container {
    width: 100%;
}

.headLine {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px;
}
.myProfile {
    all: unset;
    margin-top: 2px;
    margin-left: auto;
    width: 28px;
    height: 28px;
}

.logo {
    width: 99px;
    height: 24px;
}