.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.width{
    display: flex;
    justify-self: center;
    align-items: center;
    width: 42rem;
}