/*.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.width{
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100%;
}

.userProfile {

}

.subjectRank {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100%;
    background-color: #F6F9FF;
}*/