.bar_chart {
	display: inline-block;
	width: calc(100% - 3rem);
	height: 0.5rem;
	background: #F6F9FF;
	border-radius: 5px;
	margin:0;
	padding:0;
}
  
.bar {
	height: 0.5rem;
	background: #959DB0;
	border-radius: 5px;
  }