body {
  margin: 0;
  font-family: 'Pretendard';
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width:700px) {
  body{
    font-family: 'Pretendard';
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    min-width: 350px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
